html, body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

.wrapper {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.wrapper div {
  margin-bottom: 2em;
}